<!DOCTYPE html>
<html>
  <head>
    <title>Login - Student Academic System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style1.css') }}">
  </head>
  <body>
    <h1>Login</h1>
    <form method="POST">
      Username: <input name="username" type="text"><br>
      Password: <input name="password" type="password"><br>
      <button type="submit">Login</button>
    </form>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
          {% for message in messages %}
            <li style="color:red">{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
  </body>
</html>
