<!DOCTYPE html>
<html>
  <head>
    <title>Login - Student Academic System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style1.css') }}">
  </head>
  <body>
    <div class="container">
    <h2>Login</h2>
    <form method="POST">
      <input name="username" type="text" placeholder="Enter Username" required><br>
      <input name="password" type="password"placeholder="Enter Password required"><br>
      <button type="submit">Login</button>
    </form>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
          {% for message in messages %}
            <li style="color:red">{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    </div>
  </body>
</html>
